In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Project1_processed/Chapter5.xlsx','5.10')
df.head(5)

,तालिका 5.10: राज्यवार प्रबंधकीय पदों पर कार्यरत सामान्य स्थिति (पीएस + एसएस) में कुल श्रमिकों में महिला श्रमिकों का अनुपात (%),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Table 5.10: State-wise Ratio (%) of female wor...,NaN,NaN,NaN,NaN
1,राज्य / केंद्र शासित प्रदेश,ग्रामीण,शहरी,कुल,State/ Union Territory
2,NaN,Rural,Urban,Total,NaN
3,(1),(2),(3),(4),(5)
4,अंडमान और निकोबार द्वीपसमूह,10.9,7.6,9,Andaman & Nicobar Islands

In [ ]:
df.dropna(thresh=abs(df.shape[1]*0.5), axis=0, inplace=True)
df.dropna(how="all", axis=1, inplace=True)
df.head(5)

,तालिका 5.10: राज्यवार प्रबंधकीय पदों पर कार्यरत सामान्य स्थिति (पीएस + एसएस) में कुल श्रमिकों में महिला श्रमिकों का अनुपात (%),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,राज्य / केंद्र शासित प्रदेश,ग्रामीण,शहरी,कुल,State/ Union Territory
2,NaN,Rural,Urban,Total,NaN
3,(1),(2),(3),(4),(5)
4,अंडमान और निकोबार द्वीपसमूह,10.9,7.6,9,Andaman & Nicobar Islands
5,आंध्र प्रदेश,34.1,29.8,32.3,Andhra Pradesh

In [ ]:
df.drop(columns= df.columns[0], inplace=True)
df.head(5)

  Unnamed: 1 Unnamed: 2 Unnamed: 3                 Unnamed: 4
1    ग्रामीण       शहरी        कुल     State/ Union Territory
2      Rural      Urban      Total                        NaN
3        (2)        (3)        (4)                        (5)
4       10.9        7.6          9  Andaman & Nicobar Islands
5       34.1       29.8       32.3             Andhra Pradesh

In [ ]:
df.drop(index=[df.index[0],df.index[2]], inplace=True)
df.head(5)

  Unnamed: 1 Unnamed: 2 Unnamed: 3                 Unnamed: 4
2      Rural      Urban      Total                        NaN
4       10.9        7.6          9  Andaman & Nicobar Islands
5       34.1       29.8       32.3             Andhra Pradesh
6       24.5        6.2       19.9          Arunachal Pradesh
7        6.4        8.4        6.9                      Assam

In [ ]:
df.columns=df.iloc[0,:].values
df.head(5)

   Rural  Urban  Total                        NaN
2  Rural  Urban  Total                        NaN
4   10.9    7.6      9  Andaman & Nicobar Islands
5   34.1   29.8   32.3             Andhra Pradesh
6   24.5    6.2   19.9          Arunachal Pradesh
7    6.4    8.4    6.9                      Assam

In [ ]:
df.drop(index=df.index[0], inplace=True)
df.head(5)

  Rural Urban Total                        NaN
4  10.9   7.6     9  Andaman & Nicobar Islands
5  34.1  29.8  32.3             Andhra Pradesh
6  24.5   6.2  19.9          Arunachal Pradesh
7   6.4   8.4   6.9                      Assam
8     -     -     -                      Bihar

In [ ]:
melt_df=df.melt(id_vars=df.columns[3], var_name="region",value_name="value")
melt_df.head(5)

                         NaN region value
0  Andaman & Nicobar Islands  Rural  10.9
1             Andhra Pradesh  Rural  34.1
2          Arunachal Pradesh  Rural  24.5
3                      Assam  Rural   6.4
4                      Bihar  Rural     -

In [ ]:
melt_df.rename(columns={melt_df.columns[0]:"state"}, inplace=True)

In [ ]:
melt_df=melt_df.assign(units="value in percentage")

In [ ]:
note_dict={"-": "corresponding to a category implies that there are no sample persons in that particular category."}

In [ ]:
for each_note in note_dict:
  melt_df["note"]=melt_df["value"].apply(lambda x: f"value:{note_dict[each_note]}" if f"{each_note}" in str(x) else "")
melt_df.head(10)

,state,region,value,units,note
0,Andaman & Nicobar Islands,Rural,10.9,value in percentage,
1,Andhra Pradesh,Rural,34.1,value in percentage,
2,Arunachal Pradesh,Rural,24.5,value in percentage,
3,Assam,Rural,6.4,value in percentage,
4,Bihar,Rural,-,value in percentage,value:corresponding to a category implies that...
5,Chandigarh,Rural,-,value in percentage,value:corresponding to a category implies that...
6,Chhattisgarh,Rural,44.1,value in percentage,
7,Dadra & Nagar Haveli,Rural,2.8,value in percentage,
8,Daman & Diu,Rural,38,value in percentage,
9,Delhi,Rural,-,value in percentage,value:corresponding to a category implies that...

In [ ]:
melt_df["value"]=melt_df["value"].apply(lambda x: "" if "-" in str(x) else x)
melt_df.head(10)

,state,region,value,units,note
0,Andaman & Nicobar Islands,Rural,10.9,value in percentage,
1,Andhra Pradesh,Rural,34.1,value in percentage,
2,Arunachal Pradesh,Rural,24.5,value in percentage,
3,Assam,Rural,6.4,value in percentage,
4,Bihar,Rural,,value in percentage,value:corresponding to a category implies that...
5,Chandigarh,Rural,,value in percentage,value:corresponding to a category implies that...
6,Chhattisgarh,Rural,44.1,value in percentage,
7,Dadra & Nagar Haveli,Rural,2.8,value in percentage,
8,Daman & Diu,Rural,38,value in percentage,
9,Delhi,Rural,,value in percentage,value:corresponding to a category implies that...

In [ ]:
melt_df=melt_df.assign(fiscal_year="2019-20")
melt_df.head(5)

,state,region,value,units,note,fiscal_year
0,Andaman & Nicobar Islands,Rural,10.9,value in percentage,,2019-20
1,Andhra Pradesh,Rural,34.1,value in percentage,,2019-20
2,Arunachal Pradesh,Rural,24.5,value in percentage,,2019-20
3,Assam,Rural,6.4,value in percentage,,2019-20
4,Bihar,Rural,,value in percentage,value:corresponding to a category implies that...,2019-20

In [ ]:
new_df=pd.read_excel('/content/drive/MyDrive/Project1_processed/data_dictionaries.xlsx')
new_df.head(5)

   #REF!                        state
0    NaN                    All India
1    NaN  Andaman and Nicobar Islands
2    NaN               Andhra Pradesh
3    NaN            Arunachal Pradesh
4    NaN                        Assam

In [ ]:
ref_df=pd.DataFrame(melt_df["state"].unique())
ref_df.head(5)

                           0
0  Andaman & Nicobar Islands
1             Andhra Pradesh
2          Arunachal Pradesh
3                      Assam
4                      Bihar

In [ ]:
list1=new_df["state"].to_list()
list2=ref_df[ref_df.columns[0]].to_list()

In [ ]:
pip install thefuzz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting thefuzz
  Downloading thefuzz-0.19.0-py2.py3-none-any.whl (17 kB)
Installing collected packages: thefuzz
Successfully installed thefuzz-0.19.0

In [ ]:
from thefuzz import process
from thefuzz import fuzz

/usr/local/lib/python3.10/dist-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
result={}
for i in list2:
  result[i]=process.extractOne(i,list1,scorer=fuzz.ratio)[0]

In [ ]:
melt_df["state"]=melt_df["state"].map(result)
melt_df.head(10)

,state,region,value,units,note,fiscal_year
0,Andaman and Nicobar Islands,Rural,10.9,value in percentage,,2019-20
1,Andhra Pradesh,Rural,34.1,value in percentage,,2019-20
2,Arunachal Pradesh,Rural,24.5,value in percentage,,2019-20
3,Assam,Rural,6.4,value in percentage,,2019-20
4,Bihar,Rural,,value in percentage,value:corresponding to a category implies that...,2019-20
5,Chandigarh,Rural,,value in percentage,value:corresponding to a category implies that...,2019-20
6,Chhattisgarh,Rural,44.1,value in percentage,,2019-20
7,Dadra and Nagar Haveli,Rural,2.8,value in percentage,,2019-20
8,Daman and Diu,Rural,38,value in percentage,,2019-20
9,Delhi,Rural,,value in percentage,value:corresponding to a category implies that...,2019-20

In [ ]:
melt_df=melt_df[["fiscal_year","state","region","value","units","note"]]

In [ ]:
melt_df.sort_values(by=["state"], inplace=True)
melt_df.head(30)

,fiscal_year,state,region,value,units,note
113,2019-20,All India,Total,18.7,value in percentage,
75,2019-20,All India,Urban,16.4,value in percentage,
37,2019-20,All India,Rural,21.4,value in percentage,
76,2019-20,Andaman and Nicobar Islands,Total,9,value in percentage,
38,2019-20,Andaman and Nicobar Islands,Urban,7.6,value in percentage,
0,2019-20,Andaman and Nicobar Islands,Rural,10.9,value in percentage,
39,2019-20,Andhra Pradesh,Urban,29.8,value in percentage,
1,2019-20,Andhra Pradesh,Rural,34.1,value in percentage,
77,2019-20,Andhra Pradesh,Total,32.3,value in percentage,
40,2019-20,Arunachal Pradesh,Urban,6.2,value in percentage,
78,2019-20,Arunachal Pradesh,Total,19.9,value in percentage,
2,2019-20,Arunachal Pradesh,Rural,24.5,value in percentage,
41,2019-20,Assam,Urban,8.4,value in percentage,
3,2019-20,Assam,Rural,6.4,value in percentage,
79,2019-20,Assam,Total,6.9,value in percentage,
42,2019-20,Bihar,Urban,,value in percentage,value:corresponding to a category implies that...
4,2019-20,Bihar,Rural,,value in percentage,value:corresponding to a category implies that...
80,2019-20,Bihar,Total,,value in percentage,value:corresponding to a category implies that...
81,2019-20,Chandigarh,Total,12.2,value in percentage,
43,2019-20,Chandigarh,Urban,12.4,value in percentage,
5,2019-20,Chandigarh,Rural,,value in percentage,value:corresponding to a category implies that...
6,2019-20,Chhattisgarh,Rural,44.1,value in percentage,
82,2019-20,Chhattisgarh,Total,23.3,value in percentage,
44,2019-20,Chhattisgarh,Urban,13.3,value in percentage,
83,2019-20,Dadra and Nagar Haveli,Total,16.3,value in percentage,
45,2019-20,Dadra and Nagar Haveli,Urban,19.4,value in percentage,
7,2019-20,Dadra and Nagar Haveli,Rural,2.8,value in percentage,
46,2019-20,Daman and Diu,Urban,20.9,value in percentage,
84,2019-20,Daman and Diu,Total,23.8,value in percentage,
8,2019-20,Daman and Diu,Rural,38,value in percentage,

In [ ]:
melt_df.to_csv("/content/drive/MyDrive/Project1_processed/Table 5.10/output.csv", index=False)