In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel('/content/drive/MyDrive/Project1_processed/Chapter5.xlsx','5.1')
df.head(5)

,तालिका 5.1: केंद्रीय मंत्री परिषद में महिलाओं का प्रतिनिधित्व,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Table 5.1: Representation of Women in the Cent...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,वर्ष,मंत्रियों की संख्या,NaN,NaN,महिला मंत्रियों की संख्या,NaN,NaN,केंद्रीय मंत्री परिषद में महिला (%),NaN,NaN,NaN,NaN,NaN
2,NaN,Number of Ministers,NaN,NaN,Number of Women Ministers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...
3,Year,कैबिनेट मंत्री,राज्य मंत्री,उप मंत्री,कैबिनेट मंत्री,राज्य मंत्री,उप मंत्री,Women in Central Council of Ministers (%),NaN,NaN,NaN,NaN,NaN
4,NaN,Cabinet Minister,Minister of State,Deputy Minister,Cabinet Minister,Minister of State,Deputy Minister,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop(columns=df.columns[7:], inplace=True)
df.drop(index=[df.index[0],df.index[1],df.index[3],df.index[5]], inplace=True)
df.head(10)

,तालिका 5.1: केंद्रीय मंत्री परिषद में महिलाओं का प्रतिनिधित्व,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
2,NaN,Number of Ministers,NaN,NaN,Number of Women Ministers,NaN,NaN
4,NaN,Cabinet Minister,Minister of State,Deputy Minister,Cabinet Minister,Minister of State,Deputy Minister
6,1996,18,21,0,0,1,0
7,1997,20,24,0,0,5,0
8,1998,21,21,0,1,3,0
9,2002,32,41,0,2,6,0
10,2004,29,39,0,1,6,0
11,2003,30,48,0,1,5,0
12,2009,40,38,0,3,4,0
13,2011,32,44,0,2,6,0

In [5]:
df.iloc[0]=df.iloc[0,:].ffill()
df.head(5)

,तालिका 5.1: केंद्रीय मंत्री परिषद में महिलाओं का प्रतिनिधित्व,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
2,NaN,Number of Ministers,Number of Ministers,Number of Ministers,Number of Women Ministers,Number of Women Ministers,Number of Women Ministers
4,NaN,Cabinet Minister,Minister of State,Deputy Minister,Cabinet Minister,Minister of State,Deputy Minister
6,1996,18,21,0,0,1,0
7,1997,20,24,0,0,5,0
8,1998,21,21,0,1,3,0

In [6]:
#creating a new Multiindex columns
new_columns=pd.MultiIndex.from_arrays([df.iloc[0].values,df.iloc[1].values])
new_columns

MultiIndex([(                        nan,                 nan),
            (      'Number of Ministers',  'Cabinet Minister'),
            (      'Number of Ministers', 'Minister of State'),
            (      'Number of Ministers',   'Deputy Minister'),
            ('Number of Women Ministers',  'Cabinet Minister'),
            ('Number of Women Ministers', 'Minister of State'),
            ('Number of Women Ministers',   'Deputy Minister')],
           )

In [7]:
df.drop(index=df.index[:2], inplace=True)
df.head(5)

,तालिका 5.1: केंद्रीय मंत्री परिषद में महिलाओं का प्रतिनिधित्व,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
6,1996,18,21,0,0,1,0
7,1997,20,24,0,0,5,0
8,1998,21,21,0,1,3,0
9,2002,32,41,0,2,6,0
10,2004,29,39,0,1,6,0

In [8]:
df.columns=new_columns
df.head(10)

     NaN Number of Ministers                                    \
     NaN    Cabinet Minister Minister of State Deputy Minister
6   1996                  18                21               0
7   1997                  20                24               0
8   1998                  21                21               0
9   2002                  32                41               0
10  2004                  29                39               0
11  2003                  30                48               0
12  2009                  40                38               0
13  2011                  32                44               0
14  2012                  31                43               0
15  2013                  31                47               0

   Number of Women Ministers
            Cabinet Minister Minister of State Deputy Minister
6                          0                 1               0
7                          0                 5               0
8                          1                 3               0
9                          2                 6               0
10                         1                 6               0
11                         1                 5               0
12                         3                 4               0
13                         2                 6               0
14                         2                 6               0
15                         3                 9               0

In [9]:
df.set_index(df.columns[0],drop=True, inplace=True)
df.head(5)

           Number of Ministers                                    \
              Cabinet Minister Minister of State Deputy Minister
(nan, nan)
1996                        18                21               0
1997                        20                24               0
1998                        21                21               0
2002                        32                41               0
2004                        29                39               0

           Number of Women Ministers
                    Cabinet Minister Minister of State Deputy Minister
(nan, nan)
1996                               0                 1               0
1997                               0                 5               0
1998                               1                 3               0
2002                               2                 6               0
2004                               1                 6               0

In [10]:
stack_df=df.stack(level=1).reset_index()
stack_df.head(10)

  (nan, nan)            level_1 Number of Ministers Number of Women Ministers
0       1996   Cabinet Minister                  18                         0
1       1996    Deputy Minister                   0                         0
2       1996  Minister of State                  21                         1
3       1997   Cabinet Minister                  20                         0
4       1997    Deputy Minister                   0                         0
5       1997  Minister of State                  24                         5
6       1998   Cabinet Minister                  21                         1
7       1998    Deputy Minister                   0                         0
8       1998  Minister of State                  21                         3
9       2002   Cabinet Minister                  32                         2

In [11]:
stack_df.rename(columns={stack_df.columns[0]:"year",stack_df.columns[1]:"minister_type",stack_df.columns[2]:"number_of_ministers",stack_df.columns[3]:"number_of_women_ministers"}, inplace=True)
stack_df.head(5)

   year      minister_type number_of_ministers number_of_women_ministers
0  1996   Cabinet Minister                  18                         0
1  1996    Deputy Minister                   0                         0
2  1996  Minister of State                  21                         1
3  1997   Cabinet Minister                  20                         0
4  1997    Deputy Minister                   0                         0

In [12]:
stack_df=stack_df.assign(units="number_of_ministers in absolute number, number_of_women_ministers in absolute number")
stack_df=stack_df.assign(state="All India")
stack_df.head(10)

,year,minister_type,number_of_ministers,number_of_women_ministers,units,state
0,1996,Cabinet Minister,18,0,"number_of_ministers in absolute number, number...",All India
1,1996,Deputy Minister,0,0,"number_of_ministers in absolute number, number...",All India
2,1996,Minister of State,21,1,"number_of_ministers in absolute number, number...",All India
3,1997,Cabinet Minister,20,0,"number_of_ministers in absolute number, number...",All India
4,1997,Deputy Minister,0,0,"number_of_ministers in absolute number, number...",All India
5,1997,Minister of State,24,5,"number_of_ministers in absolute number, number...",All India
6,1998,Cabinet Minister,21,1,"number_of_ministers in absolute number, number...",All India
7,1998,Deputy Minister,0,0,"number_of_ministers in absolute number, number...",All India
8,1998,Minister of State,21,3,"number_of_ministers in absolute number, number...",All India
9,2002,Cabinet Minister,32,2,"number_of_ministers in absolute number, number...",All India

In [13]:
stack_df=stack_df[["year","state","minister_type","number_of_ministers","number_of_women_ministers","units"]]
stack_df.head(5)

,year,state,minister_type,number_of_ministers,number_of_women_ministers,units
0,1996,All India,Cabinet Minister,18,0,"number_of_ministers in absolute number, number..."
1,1996,All India,Deputy Minister,0,0,"number_of_ministers in absolute number, number..."
2,1996,All India,Minister of State,21,1,"number_of_ministers in absolute number, number..."
3,1997,All India,Cabinet Minister,20,0,"number_of_ministers in absolute number, number..."
4,1997,All India,Deputy Minister,0,0,"number_of_ministers in absolute number, number..."

In [14]:
stack_df.sort_values(by=["year"], ascending=False, inplace=True)
stack_df.head(10)

,year,state,minister_type,number_of_ministers,number_of_women_ministers,units
53,2021,All India,Minister of State,47,9,"number_of_ministers in absolute number, number..."
52,2021,All India,Deputy Minister,0,0,"number_of_ministers in absolute number, number..."
51,2021,All India,Cabinet Minister,31,2,"number_of_ministers in absolute number, number..."
50,2020,All India,Minister of State,32,3,"number_of_ministers in absolute number, number..."
49,2020,All India,Deputy Minister,0,0,"number_of_ministers in absolute number, number..."
48,2020,All India,Cabinet Minister,22,2,"number_of_ministers in absolute number, number..."
47,2019,All India,Minister of State,33,3,"number_of_ministers in absolute number, number..."
46,2019,All India,Deputy Minister,0,0,"number_of_ministers in absolute number, number..."
45,2019,All India,Cabinet Minister,24,3,"number_of_ministers in absolute number, number..."
44,2018,All India,Minister of State,49,3,"number_of_ministers in absolute number, number..."

In [15]:
stack_df.to_csv('/content/drive/MyDrive/Project1_processed/Table 5.1/output.csv', index=False)