In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel('/content/drive/MyDrive/Project1_processed/Chapter5.xlsx','5.3')
df.head(10)

,तालिका 5.3: आम चुनाव 2019 में राज्यवार महिला मतदाता टर्नआउट,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Table 5.3 : State-wise Women Voters Turnout fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,निर्वाचकों और मतदाताओं के आंकड़े (हजारों में ),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Figures for electors & voters (in thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,राज्य / केंद्र शासित प्रदेश,महिला निर्वाचक,महिला मतदाता,महिला टर्नआउट\n(%),कुल निर्वाचक,कुल मतदाता,कुल टर्नआउट\n(%),State/ Union Territory
4,NaN,Women Electors,Women Voters,Women Turnout\n(%),Total Electors,Total Voters,Total Turnout\n(%),NaN
5,(1),(2),(3),(4),(5),(6),(7),(8)
6,अंडमान और निकोबार द्वीपसमूह,149,98,65.771812,318,207,65.09434,Andaman & Nicobar Islands
7,आंध्र प्रदेश,19881,15818,79.563402,39406,31675,80.38116,Andhra Pradesh
8,अरुणाचल प्रदेश,404,326,80.693069,804,660,82.089552,Arunachal Pradesh
9,असम,10757,8748,81.323789,22050,17993,81.600907,Assam

In [4]:
df.dropna(thresh=abs(df.shape[1]*0.5), axis=0, inplace=True)
df.dropna(how="all", axis=1, inplace=True)
df.head(10)

,तालिका 5.3: आम चुनाव 2019 में राज्यवार महिला मतदाता टर्नआउट,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
3,राज्य / केंद्र शासित प्रदेश,महिला निर्वाचक,महिला मतदाता,महिला टर्नआउट\n(%),कुल निर्वाचक,कुल मतदाता,कुल टर्नआउट\n(%),State/ Union Territory
4,NaN,Women Electors,Women Voters,Women Turnout\n(%),Total Electors,Total Voters,Total Turnout\n(%),NaN
5,(1),(2),(3),(4),(5),(6),(7),(8)
6,अंडमान और निकोबार द्वीपसमूह,149,98,65.771812,318,207,65.09434,Andaman & Nicobar Islands
7,आंध्र प्रदेश,19881,15818,79.563402,39406,31675,80.38116,Andhra Pradesh
8,अरुणाचल प्रदेश,404,326,80.693069,804,660,82.089552,Arunachal Pradesh
9,असम,10757,8748,81.323789,22050,17993,81.600907,Assam
10,बिहार,33533,19980,59.583097,71216,40830,57.332622,Bihar
11,चंडीगढ़,305,216,70.819672,647,457,70.633694,Chandigarh
12,छत्तीसगढ़,9482,6689,70.544189,19016,13623,71.639672,Chhattisgarh

In [5]:
df.drop(index=[df.index[0],df.index[2]],inplace=True)
df.drop(columns=df.columns[0], inplace=True)
df.head(10)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
4,Women Electors,Women Voters,Women Turnout\n(%),Total Electors,Total Voters,Total Turnout\n(%),NaN
6,149,98,65.771812,318,207,65.09434,Andaman & Nicobar Islands
7,19881,15818,79.563402,39406,31675,80.38116,Andhra Pradesh
8,404,326,80.693069,804,660,82.089552,Arunachal Pradesh
9,10757,8748,81.323789,22050,17993,81.600907,Assam
10,33533,19980,59.583097,71216,40830,57.332622,Bihar
11,305,216,70.819672,647,457,70.633694,Chandigarh
12,9482,6689,70.544189,19016,13623,71.639672,Chhattisgarh
13,118,95,80.508475,250,199,79.6,Dadra & Nagar Haveli
14,61,46,75.409836,122,87,71.311475,Daman & Diu

In [6]:
df.columns=df.iloc[0,:].values

In [7]:
df.drop(index=df.index[0],inplace=True)
df.head(10)

,Women Electors,Women Voters,Women Turnout\n(%),Total Electors,Total Voters,Total Turnout\n(%),NaN
6,149,98,65.771812,318,207,65.09434,Andaman & Nicobar Islands
7,19881,15818,79.563402,39406,31675,80.38116,Andhra Pradesh
8,404,326,80.693069,804,660,82.089552,Arunachal Pradesh
9,10757,8748,81.323789,22050,17993,81.600907,Assam
10,33533,19980,59.583097,71216,40830,57.332622,Bihar
11,305,216,70.819672,647,457,70.633694,Chandigarh
12,9482,6689,70.544189,19016,13623,71.639672,Chhattisgarh
13,118,95,80.508475,250,199,79.6,Dadra & Nagar Haveli
14,61,46,75.409836,122,87,71.311475,Daman & Diu
15,6444,3876,60.148976,14328,8682,60.59464,Delhi

In [8]:
df.drop(columns=[df.columns[2],df.columns[5]], inplace=True)
df.head(10)

,Women Electors,Women Voters,Total Electors,Total Voters,NaN
6,149,98,318,207,Andaman & Nicobar Islands
7,19881,15818,39406,31675,Andhra Pradesh
8,404,326,804,660,Arunachal Pradesh
9,10757,8748,22050,17993,Assam
10,33533,19980,71216,40830,Bihar
11,305,216,647,457,Chandigarh
12,9482,6689,19016,13623,Chhattisgarh
13,118,95,250,199,Dadra & Nagar Haveli
14,61,46,122,87,Daman & Diu
15,6444,3876,14328,8682,Delhi

In [9]:
melt_df=df.melt(id_vars=df.columns[4],var_name="electors_voters_type",value_name="value")
melt_df.head(10)

                         NaN electors_voters_type  value
0  Andaman & Nicobar Islands       Women Electors    149
1             Andhra Pradesh       Women Electors  19881
2          Arunachal Pradesh       Women Electors    404
3                      Assam       Women Electors  10757
4                      Bihar       Women Electors  33533
5                 Chandigarh       Women Electors    305
6               Chhattisgarh       Women Electors   9482
7       Dadra & Nagar Haveli       Women Electors    118
8                Daman & Diu       Women Electors     61
9                      Delhi       Women Electors   6444

In [10]:
melt_df=melt_df.assign(units="value in thousands")
melt_df.head(10)

                         NaN electors_voters_type  value               units
0  Andaman & Nicobar Islands       Women Electors    149  value in thousands
1             Andhra Pradesh       Women Electors  19881  value in thousands
2          Arunachal Pradesh       Women Electors    404  value in thousands
3                      Assam       Women Electors  10757  value in thousands
4                      Bihar       Women Electors  33533  value in thousands
5                 Chandigarh       Women Electors    305  value in thousands
6               Chhattisgarh       Women Electors   9482  value in thousands
7       Dadra & Nagar Haveli       Women Electors    118  value in thousands
8                Daman & Diu       Women Electors     61  value in thousands
9                      Delhi       Women Electors   6444  value in thousands

In [11]:

melt_df.rename(columns={melt_df.columns[0]: "state"}, inplace=True)
melt_df.head(5)

                       state electors_voters_type  value               units
0  Andaman & Nicobar Islands       Women Electors    149  value in thousands
1             Andhra Pradesh       Women Electors  19881  value in thousands
2          Arunachal Pradesh       Women Electors    404  value in thousands
3                      Assam       Women Electors  10757  value in thousands
4                      Bihar       Women Electors  33533  value in thousands

In [12]:
melt_df=melt_df.assign(year=2019)

In [13]:
melt_df=melt_df[["year","state","electors_voters_type","value","units"]]
melt_df.head(5)

,year,state,electors_voters_type,value,units
0,2019,Andaman & Nicobar Islands,Women Electors,149,value in thousands
1,2019,Andhra Pradesh,Women Electors,19881,value in thousands
2,2019,Arunachal Pradesh,Women Electors,404,value in thousands
3,2019,Assam,Women Electors,10757,value in thousands
4,2019,Bihar,Women Electors,33533,value in thousands

In [14]:
new_df=pd.read_excel('/content/drive/MyDrive/Project1_processed/data_dictionaries.xlsx')
new_df.head(5)

   #REF!                        state
0    NaN                    All India
1    NaN  Andaman and Nicobar Islands
2    NaN               Andhra Pradesh
3    NaN            Arunachal Pradesh
4    NaN                        Assam

In [15]:
ref_df=pd.DataFrame(melt_df["state"].unique())
ref_df.head(5)

                           0
0  Andaman & Nicobar Islands
1             Andhra Pradesh
2          Arunachal Pradesh
3                      Assam
4                      Bihar

In [16]:
list1=new_df["state"].to_list()
list2=ref_df[ref_df.columns[0]].to_list()

In [17]:
pip install thefuzz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting thefuzz
  Downloading thefuzz-0.19.0-py2.py3-none-any.whl (17 kB)
Installing collected packages: thefuzz
Successfully installed thefuzz-0.19.0

In [18]:
from thefuzz import process

/usr/local/lib/python3.10/dist-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [19]:
from thefuzz import fuzz

In [20]:
result={}
for i in list2:
  result[i]=process.extractOne(i,list1,scorer=fuzz.ratio)[0]

In [21]:
result

{'Andaman & Nicobar Islands': 'Andaman and Nicobar Islands',
 'Andhra Pradesh': 'Andhra Pradesh',
 'Arunachal Pradesh': 'Arunachal Pradesh',
 'Assam': 'Assam',
 'Bihar': 'Bihar',
 'Chandigarh': 'Chandigarh',
 'Chhattisgarh': 'Chhattisgarh',
 'Dadra & Nagar Haveli': 'Dadra and Nagar Haveli',
 'Daman & Diu': 'Daman and Diu',
 'Delhi': 'Delhi',
 'Goa': 'Goa',
 'Gujarat': 'Gujarat',
 'Haryana': 'Haryana',
 'Himachal Pradesh': 'Himachal Pradesh',
 'Jammu & Kashmir': 'Jammu and Kashmir',
 'Jharkhand': 'Jharkhand',
 'Karnataka': 'Karnataka',
 'Kerala': 'Kerala',
 'Lakshadweep': 'Lakshadweep',
 'Madhya Pradesh': 'Madhya Pradesh',
 'Maharashtra': 'Maharashtra',
 'Manipur': 'Manipur',
 'Meghalaya': 'Meghalaya',
 'Mizoram': 'Mizoram',
 'Nagaland': 'Nagaland',
 'Odisha': 'Odisha',
 'Puducherry': 'Puducherry',
 'Punjab': 'Punjab',
 'Rajasthan': 'Rajasthan',
 'Sikkim': 'Sikkim',
 'Tamil Nadu': 'Tamil Nadu',
 'Telangana': 'Telangana',
 'Tripura': 'Tripura',
 'Uttar Pradesh': 'Uttar Pradesh',
 'Uttarakhand': 'Uttarakhand',
 'West Bengal': 'West Bengal',
 'India': 'All India'}

In [22]:
melt_df["state"]=melt_df["state"].map(result)

In [23]:
melt_df.head(10)

,year,state,electors_voters_type,value,units
0,2019,Andaman and Nicobar Islands,Women Electors,149,value in thousands
1,2019,Andhra Pradesh,Women Electors,19881,value in thousands
2,2019,Arunachal Pradesh,Women Electors,404,value in thousands
3,2019,Assam,Women Electors,10757,value in thousands
4,2019,Bihar,Women Electors,33533,value in thousands
5,2019,Chandigarh,Women Electors,305,value in thousands
6,2019,Chhattisgarh,Women Electors,9482,value in thousands
7,2019,Dadra and Nagar Haveli,Women Electors,118,value in thousands
8,2019,Daman and Diu,Women Electors,61,value in thousands
9,2019,Delhi,Women Electors,6444,value in thousands

In [24]:
melt_df.to_csv('/content/drive/MyDrive/Project1_processed/Table 5.3/output.csv', index=False)