In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Project1_processed/Chapter5.xlsx','5.8')
df.head(10)

,तालिका 5.8: सर्वोच्च न्यायालय और उच्च न्यायालयों में महिला न्यायाधीश,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Table 5.8 : Women Judges in Supreme Court and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,न्यायालय,स्वीकृत न्यायाधीश संख्या,स्थायी,अतिरिक्त,पुरुष,महिला,महिला\n(%),Court
2,NaN,Approved Judge Strength,Permanent,Additional,Male,Female,Female \n(%),NaN
3,(1),(2),(3),(4),(5),(6),(7),(8)
4,सर्वोच्च न्यायालय,34,33,0,29,4,12.121212,Supreme Court
5,उच्च न्यायालय ...,NaN,NaN,NaN,NaN,NaN,NaN,High Courts
6,इलाहाबाद,160,75,20,89,6,6.315789,Allahabad
7,आंध्र प्रदेश (हैदराबाद),37,18,0,17,1,5.555556,Andhra Pradesh (Hyderabad)
8,बॉम्बे,94,49,11,53,7,11.666667,Bombay
9,कलकत्ता,72,31,9,35,5,12.5,Calcutta

In [ ]:
df.dropna(thresh=abs(df.shape[1]*0.5),axis=0, inplace=True)
df.dropna(how="all", axis=1, inplace=True)
df.head(5)

,तालिका 5.8: सर्वोच्च न्यायालय और उच्च न्यायालयों में महिला न्यायाधीश,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,न्यायालय,स्वीकृत न्यायाधीश संख्या,स्थायी,अतिरिक्त,पुरुष,महिला,महिला\n(%),Court
2,NaN,Approved Judge Strength,Permanent,Additional,Male,Female,Female \n(%),NaN
3,(1),(2),(3),(4),(5),(6),(7),(8)
4,सर्वोच्च न्यायालय,34,33,0,29,4,12.121212,Supreme Court
6,इलाहाबाद,160,75,20,89,6,6.315789,Allahabad

In [ ]:
df.drop(columns=[df.columns[0],df.columns[6]], inplace=True)
df.head(5)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 7
1,स्वीकृत न्यायाधीश संख्या,स्थायी,अतिरिक्त,पुरुष,महिला,Court
2,Approved Judge Strength,Permanent,Additional,Male,Female,NaN
3,(2),(3),(4),(5),(6),(8)
4,34,33,0,29,4,Supreme Court
6,160,75,20,89,6,Allahabad

In [ ]:
df.drop(index=[df.index[0],df.index[2]], inplace=True)

In [ ]:
df.columns=df.iloc[0,:].values

In [ ]:
df.drop(index=df.index[0], inplace=True)
df.head(5)

,Approved Judge Strength,Permanent,Additional,Male,Female,NaN
4,34,33,0,29,4,Supreme Court
6,160,75,20,89,6,Allahabad
7,37,18,0,17,1,Andhra Pradesh (Hyderabad)
8,94,49,11,53,7,Bombay
9,72,31,9,35,5,Calcutta

In [ ]:
melt_df=df.melt(id_vars=df.columns[5], var_name="category_of_judges",value_name="value")
melt_df.head(5)

                          NaN       category_of_judges value
0               Supreme Court  Approved Judge Strength    34
1                   Allahabad  Approved Judge Strength   160
2  Andhra Pradesh (Hyderabad)  Approved Judge Strength    37
3                      Bombay  Approved Judge Strength    94
4                    Calcutta  Approved Judge Strength    72

In [ ]:
melt_df.rename(columns={melt_df.columns[0]:"court"}, inplace=True)
melt_df.head(10)

                        court       category_of_judges value
0               Supreme Court  Approved Judge Strength    34
1                   Allahabad  Approved Judge Strength   160
2  Andhra Pradesh (Hyderabad)  Approved Judge Strength    37
3                      Bombay  Approved Judge Strength    94
4                    Calcutta  Approved Judge Strength    72
5                Chhattisgarh  Approved Judge Strength    22
6                       Delhi  Approved Judge Strength    60
7                     Gauhati  Approved Judge Strength    24
8                     Gujarat  Approved Judge Strength    52
9            Himachal Pradesh  Approved Judge Strength    13

In [ ]:
melt_df=melt_df.assign(date_as_on="25-11-2021")
melt_df=melt_df.assign(units="value in absolute numbers")

In [ ]:
melt_df["note"]=melt_df["category_of_judges"].apply(lambda x: "category_of_judges:Female/Male figures based on total no. of judges" if "Male" in x else ("category_of_judges:Female/Male figures based on total no. of judges" if "Female" in x else"" ))

In [ ]:
melt_df=melt_df[["date_as_on","court","category_of_judges","value","units","note"]]
melt_df.head(5)

,date_as_on,court,category_of_judges,value,units,note
0,25-11-2021,Supreme Court,Approved Judge Strength,34,value in absolute numbers,
1,25-11-2021,Allahabad,Approved Judge Strength,160,value in absolute numbers,
2,25-11-2021,Andhra Pradesh (Hyderabad),Approved Judge Strength,37,value in absolute numbers,
3,25-11-2021,Bombay,Approved Judge Strength,94,value in absolute numbers,
4,25-11-2021,Calcutta,Approved Judge Strength,72,value in absolute numbers,

In [ ]:
melt_df.sort_values(by=["court"], inplace=True)
melt_df.head(10)

,date_as_on,court,category_of_judges,value,units,note
27,25-11-2021,Allahabad,Permanent,75,value in absolute numbers,
1,25-11-2021,Allahabad,Approved Judge Strength,160,value in absolute numbers,
53,25-11-2021,Allahabad,Additional,20,value in absolute numbers,
79,25-11-2021,Allahabad,Male,89,value in absolute numbers,category_of_judges:Female/Male figures based o...
105,25-11-2021,Allahabad,Female,6,value in absolute numbers,category_of_judges:Female/Male figures based o...
28,25-11-2021,Andhra Pradesh (Hyderabad),Permanent,18,value in absolute numbers,
54,25-11-2021,Andhra Pradesh (Hyderabad),Additional,0,value in absolute numbers,
2,25-11-2021,Andhra Pradesh (Hyderabad),Approved Judge Strength,37,value in absolute numbers,
106,25-11-2021,Andhra Pradesh (Hyderabad),Female,1,value in absolute numbers,category_of_judges:Female/Male figures based o...
80,25-11-2021,Andhra Pradesh (Hyderabad),Male,17,value in absolute numbers,category_of_judges:Female/Male figures based o...

In [ ]:
new_df=pd.read_excel('/content/drive/MyDrive/Project1_processed/data_dictionaries.xlsx')
new_df.head(5)

   #REF!                        state
0    NaN                    All India
1    NaN  Andaman and Nicobar Islands
2    NaN               Andhra Pradesh
3    NaN            Arunachal Pradesh
4    NaN                        Assam

In [ ]:
ref_df=pd.DataFrame(melt_df[melt_df.columns[1]].unique())
ref_df.head(5)

                            0
0                   Allahabad
1  Andhra Pradesh (Hyderabad)
2                      Bombay
3                    Calcutta
4                Chhattisgarh

In [ ]:
list1=new_df["state"].to_list()
list2=ref_df[ref_df.columns[0]].to_list()

In [ ]:
pip install thefuzz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: thefuzz in /usr/local/lib/python3.10/dist-packages (0.19.0)

In [ ]:
from thefuzz import process
from thefuzz import fuzz

/usr/local/lib/python3.10/dist-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
result={}
for i in list2:
  result[i]=process.extractOne(i,list1,scorer=fuzz.ratio)[0]

In [ ]:
melt_df[melt_df.columns[1]]=melt_df[melt_df.columns[1]].map(result)
melt_df.head(30)

,date_as_on,court,category_of_judges,value,units,note
27,25-11-2021,Lakshadweep,Permanent,75,value in absolute numbers,
1,25-11-2021,Lakshadweep,Approved Judge Strength,160,value in absolute numbers,
53,25-11-2021,Lakshadweep,Additional,20,value in absolute numbers,
79,25-11-2021,Lakshadweep,Male,89,value in absolute numbers,category_of_judges:Female/Male figures based o...
105,25-11-2021,Lakshadweep,Female,6,value in absolute numbers,category_of_judges:Female/Male figures based o...
28,25-11-2021,Andhra Pradesh,Permanent,18,value in absolute numbers,
54,25-11-2021,Andhra Pradesh,Additional,0,value in absolute numbers,
2,25-11-2021,Andhra Pradesh,Approved Judge Strength,37,value in absolute numbers,
106,25-11-2021,Andhra Pradesh,Female,1,value in absolute numbers,category_of_judges:Female/Male figures based o...
80,25-11-2021,Andhra Pradesh,Male,17,value in absolute numbers,category_of_judges:Female/Male figures based o...
107,25-11-2021,Goa,Female,7,value in absolute numbers,category_of_judges:Female/Male figures based o...
81,25-11-2021,Goa,Male,53,value in absolute numbers,category_of_judges:Female/Male figures based o...
3,25-11-2021,Goa,Approved Judge Strength,94,value in absolute numbers,
55,25-11-2021,Goa,Additional,11,value in absolute numbers,
29,25-11-2021,Goa,Permanent,49,value in absolute numbers,
82,25-11-2021,Chhattisgarh,Male,35,value in absolute numbers,category_of_judges:Female/Male figures based o...
4,25-11-2021,Chhattisgarh,Approved Judge Strength,72,value in absolute numbers,
56,25-11-2021,Chhattisgarh,Additional,9,value in absolute numbers,
108,25-11-2021,Chhattisgarh,Female,5,value in absolute numbers,category_of_judges:Female/Male figures based o...
30,25-11-2021,Chhattisgarh,Permanent,31,value in absolute numbers,
83,25-11-2021,Chhattisgarh,Male,12,value in absolute numbers,category_of_judges:Female/Male figures based o...
57,25-11-2021,Chhattisgarh,Additional,3,value in absolute numbers,
31,25-11-2021,Chhattisgarh,Permanent,10,value in absolute numbers,
109,25-11-2021,Chhattisgarh,Female,1,value in absolute numbers,category_of_judges:Female/Male figures based o...
5,25-11-2021,Chhattisgarh,Approved Judge Strength,22,value in absolute numbers,
6,25-11-2021,Delhi,Approved Judge Strength,60,value in absolute numbers,
110,25-11-2021,Delhi,Female,6,value in absolute numbers,category_of_judges:Female/Male figures based o...
58,25-11-2021,Delhi,Additional,0,value in absolute numbers,
32,25-11-2021,Delhi,Permanent,30,value in absolute numbers,
84,25-11-2021,Delhi,Male,24,value in absolute numbers,category_of_judges:Female/Male figures based o...

In [ ]:
melt_df.head(50)

,date_as_on,court,category_of_judges,value,units,note
27,25-11-2021,Lakshadweep,Permanent,75,value in absolute numbers,
1,25-11-2021,Lakshadweep,Approved Judge Strength,160,value in absolute numbers,
53,25-11-2021,Lakshadweep,Additional,20,value in absolute numbers,
79,25-11-2021,Lakshadweep,Male,89,value in absolute numbers,category_of_judges:Female/Male figures based o...
105,25-11-2021,Lakshadweep,Female,6,value in absolute numbers,category_of_judges:Female/Male figures based o...
28,25-11-2021,Andhra Pradesh,Permanent,18,value in absolute numbers,
54,25-11-2021,Andhra Pradesh,Additional,0,value in absolute numbers,
2,25-11-2021,Andhra Pradesh,Approved Judge Strength,37,value in absolute numbers,
106,25-11-2021,Andhra Pradesh,Female,1,value in absolute numbers,category_of_judges:Female/Male figures based o...
80,25-11-2021,Andhra Pradesh,Male,17,value in absolute numbers,category_of_judges:Female/Male figures based o...
107,25-11-2021,Goa,Female,7,value in absolute numbers,category_of_judges:Female/Male figures based o...
81,25-11-2021,Goa,Male,53,value in absolute numbers,category_of_judges:Female/Male figures based o...
3,25-11-2021,Goa,Approved Judge Strength,94,value in absolute numbers,
55,25-11-2021,Goa,Additional,11,value in absolute numbers,
29,25-11-2021,Goa,Permanent,49,value in absolute numbers,
82,25-11-2021,Chhattisgarh,Male,35,value in absolute numbers,category_of_judges:Female/Male figures based o...
4,25-11-2021,Chhattisgarh,Approved Judge Strength,72,value in absolute numbers,
56,25-11-2021,Chhattisgarh,Additional,9,value in absolute numbers,
108,25-11-2021,Chhattisgarh,Female,5,value in absolute numbers,category_of_judges:Female/Male figures based o...
30,25-11-2021,Chhattisgarh,Permanent,31,value in absolute numbers,
83,25-11-2021,Chhattisgarh,Male,12,value in absolute numbers,category_of_judges:Female/Male figures based o...
57,25-11-2021,Chhattisgarh,Additional,3,value in absolute numbers,
31,25-11-2021,Chhattisgarh,Permanent,10,value in absolute numbers,
109,25-11-2021,Chhattisgarh,Female,1,value in absolute numbers,category_of_judges:Female/Male figures based o...
5,25-11-2021,Chhattisgarh,Approved Judge Strength,22,value in absolute numbers,
6,25-11-2021,Delhi,Approved Judge Strength,60,value in absolute numbers,
110,25-11-2021,Delhi,Female,6,value in absolute numbers,category_of_judges:Female/Male figures based o...
58,25-11-2021,Delhi,Additional,0,value in absolute numbers,
32,25-11-2021,Delhi,Permanent,30,value in absolute numbers,
84,25-11-2021,Delhi,Male,24,value in absolute numbers,category_of_judges:Female/Male figures based o...
7,25-11-2021,Gujarat,Approved Judge Strength,24,value in absolute numbers,
111,25-11-2021,Gujarat,Female,3,value in absolute numbers,category_of_judges:Female/Male figures based o...
33,25-11-2021,Gujarat,Permanent,18,value in absolute numbers,
85,25-11-2021,Gujarat,Male,21,value in absolute numbers,category_of_judges:Female/Male figures based o...
59,25-11-2021,Gujarat,Additional,6,value in absolute numbers,
86,25-11-2021,Gujarat,Male,26,value in absolute numbers,category_of_judges:Female/Male figures based o...
112,25-11-2021,Gujarat,Female,6,value in absolute numbers,category_of_judges:Female/Male figures based o...
34,25-11-2021,Gujarat,Permanent,32,value in absolute numbers,
60,25-11-2021,Gujarat,Additional,0,value in absolute numbers,
8,25-11-2021,Gujarat,Approved Judge Strength,52,value in absolute numbers,
35,25-11-2021,Himachal Pradesh,Permanent,8,value in absolute numbers,
9,25-11-2021,Himachal Pradesh,Approved Judge Strength,13,value in absolute numbers,
87,25-11-2021,Himachal Pradesh,Male,7,value in absolute numbers,category_of_judges:Female/Male figures based o...
113,25-11-2021,Himachal Pradesh,Female,2,value in absolute numbers,category_of_judges:Female/Male figures based o...
61,25-11-2021,Himachal Pradesh,Additional,1,value in absolute numbers,
10,25-11-2021,Jammu and Kashmir,Approved Judge Strength,17,value in absolute numbers,
88,25-11-2021,Jammu and Kashmir,Male,12,value in absolute numbers,category_of_judges:Female/Male figures based o...
62,25-11-2021,Jammu and Kashmir,Additional,0,value in absolute numbers,
114,25-11-2021,Jammu and Kashmir,Female,1,value in absolute numbers,category_of_judges:Female/Male figures based o...
36,25-11-2021,Jammu and Kashmir,Permanent,13,value in absolute numbers,

In [ ]:
melt_df.to_csv('/content/drive/MyDrive/Project1_processed/Table 5.8/output.csv', index=False)